<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/component.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/demo.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/organicfoodicons.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/nutritionLabel.css" media="screen" title="no title" charset="utf-8">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Archivo+Black">
  <script src="/../js/modernizr-custom.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <title>Home Page</title>
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
      background: url("/img/fruitnveggiebgndsml.png");

      background-repeat: repeat;
    }
  </style>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/inSeasonlogo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/admin/products/">
          Admin
        </a>
        <form>
          <div class="field has-addons has-addons-centered">
            <div class="control">
              <input id="searchQuery" class="input" type="text" placeholder="Find a fruit or vegetable">
            </div>
            <div class="control">
              <a id="searchSubmit" type="submit" class="button is-warning">
                Search
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-warning">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/../js/nutritionLabel-min.js"></script>
</body>

</html>