<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form>
      <p>
        <label
          >Product Name
          <input type="text" name="productName" required />
        </label>
      </p>
      <p>
        <label
          >Product Name
          <input type="text" name="productName" required />
        </label>
      </p>
      <p>
        <label
          >Product Name
          <input type="text" name="productName" required />
        </label>
      </p>
      <p>
        <label
          >Product Name
          <input type="text" name="productName" required />
        </label>
      </p>
      <p>
        <label
          >Select Category
          <select id="categorySelect">
            <option value="" selected="selected">Select One</option>
            <option value="fruit">Fruit</option>
            <option value="vegtable">Vegetable</option>
          </select>
        </label>
      </p>

      <p><button>Submit</button></p>
    </form>
  </body>
</html>
