<form>
  <p>
    <label>PLU
      <input type="text" name="plu" required />
    </label>
  </p>
  <p>
    <label>Nutritional Database Number
      <input type="number" name="ndbno" required />
    </label>
  </p>
  <p>
    <label>Product Name
      <input type="text" name="productName" required />
    </label>
  </p>
  <p>
    <label>Product Description
      <input type="text" name="productDesc" required />
    </label>
  </p>
  <p>
    <label>Manufacturer
      <input type="text" name="manufacturer" required />
    </label>
  </p>
  <p>
    <label>Select Category
      <select id="categorySelect">
        <option value="" selected="selected">Select One</option>
        <option value="fruit">Fruit</option>
        <option value="vegtable">Vegetable</option>
      </select>
    </label>
  </p>
  <p>
    <label>Select Subcategory
      <select id="categorySelect">
        <option value="" selected="selected">Select One</option>
        <option value="fruit">Fruit</option>
        <option value="vegtable">Vegetable</option>
      </select>
    </label>
  </p>
  <p>
    <label>Product Image URL
      <input type="text" name="prodImg" required />
    </label>
  </p>
  <p>
    <label>Price
      <input type="text" name="price" required />
    </label>
  </p>
  <p>
    <label>Case Count
      <input type="text" name="caseCount" required />
    </label>
  </p>
  <p>
    <label>Case Dimensions
      <input type="text" name="caseDimensions" required />
    </label>
  </p>
  </p>
  <p>
    <label>Case Weight
      <input type="text" name="caseWeight" required />
    </label>
  </p>

  <p><button>Submit</button></p>
</form>