<form>
  <p>
    <label>Product Name
      <input type="text" name="productName" required />
    </label>
  </p>
  <p>
    <label>Product Name
      <input type="text" name="productName" required />
    </label>
  </p>
  <p>
    <label>Product Name
      <input type="text" name="productName" required />
    </label>
  </p>
  <p>
    <label>Product Name
      <input type="text" name="productName" required />
    </label>
  </p>
  <p>
    <label>Select Category
      <select id="categorySelect">
        <option value="" selected="selected">Select One</option>
        <option value="fruit">Fruit</option>
        <option value="vegtable">Vegetable</option>
      </select>
    </label>
  </p>

  <p><button>Submit</button></p>
</form>